

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.appContent {
  background-color: #ffffff;
  min-width: 100vh;
  min-height: 100vh;
}

.content {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: x-small;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
