

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.appContent {
  background-color: #ffffff;
  min-width: 100vh;
  min-height: 100vh;
}

.productList {
  text-align: center;
}

.productTable{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-bottom: 10px;
}


.footer {
  text-align: center;
  font-size: x-small;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
